  /* Element Styles  */
  body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Baloo Da 2', cursive;
    color: #393534;
    box-sizing: border-box;
  }

  html,
  body {
    min-width: 100%;  
    width: 100%;
    overflow-x: hidden;
  }

  header {
    text-align: center;
    background-size: cover;
    overflow: hidden;
  } 

  h1 {
    font-size: 20px;
  }

  h2 {
    font-size: 12px;
    text-transform: uppercase;
    padding-bottom: 10px;
  }
  
  p {
    margin: 0 25px;
    padding-bottom: 25px;
  }

  footer p {
    display: inline-block;   
    padding-top: 10px;
    padding-bottom: 10px; 
    margin: 0;
  }

  /* Link Styles */
  a {
    text-decoration: none;
    color: #393534;
  }

  a:hover {
    color: #00c3b3;
  }


  /* Class Styles */
  .profile {
    padding: 15px;
    width: 70%;
  }
  
  .main-nav {
    width: 100%;
    min-height: 30px;
    text-align: center;
    padding-top: 10px;
  }

  .nav {
    margin: 0 auto;
    padding: 0; 
  }

  .nav li {
    padding: 0 0 20px 0;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: bold;
  } 

  .main-footer {
    width: 100%;
    min-height: 30px;
    text-align: left;
    padding: 0 10px;
  }

  .image {
    padding: 10px 0;
    width: 90%;
  }

  .container {
    border-top: .5px solid lightgray;
    padding: 10px 0;
  }

  .back {
    float: right;
  }

  .contact {
    padding-top: 75px;
  }

  .intro {
    padding-bottom: 25px;
  }

  .chat {
    color: darkgrey;
  }

  .email {
    text-transform: lowercase;
  }

  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }